<br />
<div class="booyah-box col-xs-10 col-xs-offset-1">
<h2> Your Workout </h2>
 <table class="table table-striped">
  <thead>
    <tr>
      <th>Drill Name</th>
      <th>Description</th>
      <th>Reps</th>
      <th>Video</th>
      <th colspan="<%= @colspan %>"></th>
    </tr>
  </thead>
  <tbody>
  <% @workout.workout_drills.each do |w| %>
    <tr>
      <td><%= link_to w.drill.name, drill_path(w.drill_id) %></td>
      <td><%= w.drill.description %></td>
      <td><%= w.drill.reps %></td>
      <% if w.drill.video.present? %>
      <td><%= link_to "Video", drill_path(w.drill_id), class: 'btn-xs btn-success' %></td>
      <% else %>
      <td>Not Yet</td>
      <% end %>
    </tr>
    <% end %>
  </table>
  <% if @workout.workout_drills.any?{|w| w.complete == true} %>
    <% if current_user.role == "player" %>
    <%= link_to 'Back', dashboard_player_path, class: 'btn btn-success' %> 
    <% else %>
    <%= link_to 'Back', dashboard_coach_path, class: 'btn btn-success' %> 
    <% end %>
  <% else %>
  <%= link_to 'Begin Workout', workout_drill_path(@workout_drill), class: 'btn btn-success' %>
  <% end %>
</div>
