<div class="col-xs-10 col-xs-offset-1 about">
  <h1><center>Welcome to <span class="logo">VincoSkill</span></h1>
  <br />
  <div class="information">
    Tate Price, the founder of <%= link_to "VincoSkill", welcome_about_path %>, has one belief about sport training: Train Better to Be Better. It is not about doing 1 thing 100% better but doing 100 things 1% better that is the difference. The sum total will result in greatness...
    <br />
    <br />
    <u>Here's how it works:</u>
  </div>
  <br />
  <br />
  <div class="row">
  <div class="col-xs-12 col-sm-4">
     <br />
    <p>
     Registration is fast, free and easy.... Even you do not belong to a team!
    </p>
  </div>
  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
   <%= image_tag 'VS6.png', :class => 'img-responsive' %>
  </div>
</div>
  <br />
  <br />
  <br />
  <br />
  <div class="row">
    <div class="col-xs-12 col-sm-4">
    <%= image_tag 'VS1.png', :class => 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <br />
    <p>
     Easy to use video demonstrations provide visual examples of the drills for each workout. 
    </p>
  </div>
</div>
<br />
<br />
<br />
<br />
 <div class="row">
  <div class="col-xs-12 col-sm-4">
     <br />
    <p>
     Drill descriptions and pointers help keep you on track while you train!
    </p>
  </div>
  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
   <%= image_tag 'VS2.png', :class => 'img-responsive' %>
  </div>
</div>
  <br />
  <br />
  <br />
  <br />
  <div class="row">
    <div class="col-xs-12 col-sm-4">
    <%= image_tag 'VS3.png', :class => 'img-responsive' %>
  </div>
  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <br />
    <p>
     A timer keeps you going forward to ensure all drills are completed!
    </p>
  </div>
</div>
  <br />
  <br />
  <br />
  <br />
 <div class="row">
  <div class="col-xs-12 col-sm-4">
     <br />
    <p>
     Rate each drill so you can see your progress over time!
    </p>
  </div>
  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
   <%= image_tag 'VS4.png', :class => 'img-responsive' %>
  </div>
</div>
 <br />
  <br />
  <br />
  <br />
  <div class="row">
    <div class="col-xs-12 col-sm-4">
    <%= image_tag 'VS5.png', :class => 'img-responsive' %>
  </div>
  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <br />
    <p>
     Your dashboard tracks all of your workouts so you can see where you've been and you can workout at any time!
    </p>
  </div>
</div>
<br />
  <br />
  <br />
  <br />
  <div class="information">
    It's that simple... Ready? 
    <br />
    <br />
    <%= link_to "Get Started", new_user_registration_path, :class => 'btn btn-success' %>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />