<h2>We need some info before you start!</h2>
    <br />
      <%= simple_form_for :user, :url => player_path(current_user), :method => :put do |f| %>
      <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :date_of_birth, :as => :string, label: "Date of Birth", :input_html => { :placeholder => "Format: MM/DD/YYYY"}  %>
      <%= f.input :years_played %>
    </div>
    <br />
    <div class="form-actions">
      <%= f.button :submit, "Get Crackin!" %>
    </div>
  <% end %>